footer {
  background: var(--dark);
  color: var(--light);
  padding: 20px 0;
  letter-spacing: 1.5;
  font-size: 24px;
  text-align: center;
}

footer span {
  color: orangered;
  font-weight: bold;
}
